/* ========================================== */
/* LAYOUT SYTLES */
/* ========================================== */

html, body {
	height: 100%;
}
html * {
	margin: 0px;
	padding: 0px;
}
body {
	color: #111;
	background-color: #222;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 76%;
	line-height: 1.8em;
}
#skiplinks a {
	position: absolute;
	left: -9999px;
}
#skiplinks a:focus {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
}
#header_container {
	background-color: #424242;
	text-align: center;
    background: -moz-linear-gradient(90deg, #111, #333);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #111), color-stop(1, #333));
}
#header {
	width: 1000px;
	height: 50px;
	margin: 0px auto;
	text-align: left;
	color: #efefef;
	padding: 5px 0px;
	position: relative;
}
#sfsuLinks {
	position: absolute;
	right: 5px;
	top: 5px;
}
#banner {
	float: left;
	width: 220px;
	height: 40px;
}
#page_container {
	text-align: center;
	background-color: #fff;
}
#page {
	width: 1000px;
	margin: 0px auto;
	padding: 1em 0px 50px;
	text-align: left;
	color: #111;
}
#page_messages {
	min-height: 1.6em;
	margin-bottom: 2em;
}
#page_sidebar {
	width: 270px;
    padding-left: 30px;
	float: left;
}
#page_content {
    text-align: left;
}
#page_content.with-sidebar {
	width: 680px;
	float: left;
	padding: 0px 20px 50px 0px;
}
#footer_container {
}
#footer {
	text-align: right;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px 30px;
	position: relative;
}
#footer #sfsuLogo {
	position: absolute;
	left: 0px;
	top: 20px;
}


/* Gereral */
#header a {
	border: none;
}
strong {
	text-transform: uppercase;
	font-size: .9em;
}
abbr {
	cursor: help;
}
.enableJS {
    display: none;
}
p {
    margin: 0px 0px 1em;
}
hr {
	height: 0px;
	border: 2px solid #ddd;
	margin: 2em 0px;	
}


/* Self Clearing Floats */
.self_clear {
    height: 1%;
}
.self_clear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Links */
a {
	color: #005787;
	cursor: pointer;
	outline: none;
}
a:hover, a:focus {
}
a:active {
	border: none;
	outline: none;
}
a img {
	border: none;
}
a.noborder {
    border: none;
    padding: 0px;
}
#skiplinks a, #footer a {
	color: #efefef;
	border-bottom: none;
	margin-right: 7px;
	padding-right: 7px;
	border-right: 1px dotted #999;
	font-size: .9em;
	font-weight: normal;
}
#skiplinks a:hover, #skiplinks a:focus, #footer a:hover, #footer a:focus {
	color: #f4c45c;
}
.return_top {
	text-align: right;
}
.return_top a {
	background-image: url(../images/arrow_up.png);
	background-position: right 1px;
	background-repeat: no-repeat;
	padding-right: 17px;
	font-weight: normal;
}
a.anchor {
	background-image: url(../images/arrow_down.png);
	background-position: right 1px;
	background-repeat: no-repeat;
	padding-right: 17px;
}


/* Headers */
h1 {
	color: #333;
	margin-bottom: 1em;
	font-family: "Times New Roman", Times, serif;
	font-size: 2.4em;
	font-weight: normal;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.8em;
	font-weight: normal;
    font-style: normal;
	margin: 2em 0px .5em;
	border-bottom: 2px solid #ddd;
	color: #555;
}
h3 {
	font-size: 1.3em;
	font-style: italic;
    font-weight: normal;
    color: #444;
    margin: 2em 0px .7em;
}


/* Lists */
ul, ol {
	margin: .5em 0px 1em 20px;
}
ul li, ol li {
	margin-left: 15px;
	line-height: 2em;
}


/* Tables */
table {
	width: 100%;
	margin: 1em 0px;
}
thead {
}
thead th {
	padding: 2px 5px;
	border-top: 2px solid #666; 
	border-bottom: 2px solid #666; 
	color: #444;
	font-style: italic;
	background-color: #e1e1e1;
}
th, td {
	padding: 2px 5px;
	margin: 0px;
    border-bottom: 1px dotted #bbb;
}
tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    background-color: #efedd9;
}
table#scheduleTable tbody tr td {
	border-bottom: 1px solid #aaa;
}



/* Blog posts */
.blog_post {
    padding-bottom: 3em;
}
.blog_post .blog_header {
	font-size: 1.6em;
	padding: .3em .7em;
	background-color: #d6e5ec;
	border: 3px solid #ACD4E5;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	color: #004172;
	margin: 0em 0em 1em;
}
.blog_post .blog_header.important {
	background-color: #004172;
	border-color: #ACD4E5;
	color: #d6e5ec;
}
.blog_post .blog_header img {
    vertical-align: middle;
    margin-right: 5px;
	line-height: 3em;
}
.blog_post .blog_post_info {
    color: #444;
    margin: 0px 0px 1em 0em;
    font-size: .9em;
    font-style: italic;
}




/* Forms */
form {
	margin-top: 2em;
}
#colorbox form {
    width: 640px;
    overflow-x: hidden;    
}
input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 3px 4px;
	border: 1px solid #666;
	color: #47540c;
}
textarea.ckeditor {
    width: 300px;
    height: 200px;
}
input[type=checkbox], input[type=radio] {
	vertical-align: text-bottom;
	margin: 0px 7px;
	vertical-align: middle;
	line-height: 1em;
}
select[disabled=disabled], input[disabled=disabled], .disabled {
	border: 1px solid #aaa;
	background-color: #fff;
	color: #555;
}
fieldset {
	border: none;
	border-top: 4px solid #ddd;
	margin: 1em 0px;
	padding: 1.5em 0px;
	position: relative;
}
legend {
	display: block;
	padding: 3px 10px;
	color: #555;
	font-style: italic;
	font-weight: bold;
    font-size: 1.1em;
}
.label {
	padding: 0px 5px 10px 0px;
	width: 150px;
	float: left;
	text-align: right;
	font-style: italic;
	color: #464666;
}
label {
	margin: 0px 7px 0px 0px;
	font-style: italic;
	color: #464666;
}
.hide_labels label {
	position: absolute;
	left: -999px;
}
.label label {
	margin: 0px;
}
.label_note {
	font-size: .9em;
}
.input {
	padding: 0px 0px 10px 5px;
	width: 430px;
	float: left;
	text-align: left;
}
.required {
    color: #810000;
    padding: 0px 5px;
    font-size: 1.7em;
    line-height: 1em;
    vertical-align: middle;
}
.save_row {
	margin: 2em 0px;
	position: relative;
}
.form_note {
	font-size: .9em;
    color: #7c2e2e;
}

.inline-block {
    display: -moz-inline-stack;
    display: inline-block;
	zoom: 1;
	*display: inline;
}





/* Footer */
#footer #sfsuLogo a {
    border: 1px solid #555;
    background-color: #131313;
    padding: 5px;
    line-height: .5em;
}
#footer #sfsuLogo a img {
	padding: 0px;
	margin: 0px;
	line-height: .5em;
}
#footer a.last {
    background-image: none;
    border-right: none;
}
#footer #sfsuLogo a:hover, #footer #sfsuLogo a:focus {
    background-color: #333;
}
#footer #sfsuLogo a img {
    border: 1px solid #666;
}
#footer {
	font-size: .9em;
	color: #bbb;
}
