/* Icons */
.icon {
	text-decoration: none;
	border: none;
    padding: 0;
}
.icon .icon {
	border: none;
	width: 20px;
	height: 20px;
	background-image: url(../images/icon_sprites.png);
	background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 2px;
}
a.icon:hover, a.icon:focus {
	border: none;
}
.icon .text {
	position: absolute;
	left: -9999px;
}

.icon.up                        { background-position: 0px 0px; }
.icon.disabled span.icon.up     { background-position: 0px -20px; }
.icon.down                      { background-position: 0px -40px; }
.icon.disabled span.icon.down   { background-position: 0px -60px; }
.icon.edit                      { background-position: 0px -80px; }
.icon.remove                    { background-position: 0px -100px; }
.icon.add                       { background-position: 0px -120px; }
.icon.ghost                     { background-position: 0px -140px; }
.icon.perms                     { background-position: 0px -160px; }
.icon.sticky_on                 { background-position: 0px -180px; }
.icon.sticky_off                { background-position: 0px -200px; }
.icon.important_on              { background-position: 0px -220px; }
.icon.important_off             { background-position: 0px -240px; }
.icon.rss                       { background-position: 0px -260px; }
.icon.archive                   { background-position: 0px -280px; }
.icon.archive_off               { background-position: 0px -300px; }
.icon.archive_on                { background-position: 0px -320px; }


