/*
 
.sortable li {
	height: 2em;
	padding: 2px;
}


.fg-nav-list li {
	line-height: 1em;
}
li.fg-nav-item.active .deleteButtonRow {
	padding-bottom: 5px;
}


ul.nav li .arrow-point {
	display: none;
}
ul.nav li .arrow-border {
	display: none;
}


#syllabus .module_container {
    clear: both;
    zoom: 1;
    height: auto;
}
#syllabus .module_title_bar {
    height: 40px;
    zoom: 1;
}
#syllabus .module_items_container {
    zoom: 1;
}
*/
#site_nav_container { background-color: #074474; }
#admin_nav_container { background-color: #333; }

.ie7 ul.nav li .arrow-point, .ie7 ul.nav li .arrow-border {
	height: 0px;
}

.button_large { zoom: 1; }

/*
.ie7 ul.nav li .arrow-point, .ie7 ul.nav li .arrow-border { display: none; }
*/