/*
*/
 
.sortable li {
	height: 2em;
	padding: 2px;
}


.fg-nav-list li {
	line-height: 1em;
}
li.fg-nav-item.active .deleteButtonRow {
	padding-bottom: 5px;
}


ul.nav li .arrow-point, ul.nav li .arrow-border {
	display: none;
	margin: 0px;
	padding: 0px;
	width: 0px;
}
ul.nav li {
	padding: 0px 5px 0px 5px;
	margin: 0px;
}
ul.nav li a {
	background-image: url(../images/ie_nav_bg.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px 25px 0px 0px;
	margin: 0px;
}


#syllabus .module_container {
    clear: both;
    zoom: 1;
    height: auto;
}
#syllabus .module_title_bar {
    height: 40px;
    zoom: 1;
}
#syllabus .module_items_container {
    zoom: 1;
}
#site_nav_container { background-color: #074474; }
#admin_nav_container { background-color: #333; }

.ie7 ul.nav li .arrow-point, .ie7 ul.nav li .arrow-border {
	height: 0px;
}

.ie7 .module_sort_controls .expand-source {
	position: absolute;
	top: 0px;
}

.button_large { zoom: 1; }