/* General Nav Styles */
ul.nav {
    margin: 0px;
    font-size: 11px;
}
ul.nav li {
    margin: 0px 20px 0px 0px;
    position: relative;
}
ul.nav li a {
    display: block;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    border: none;
    padding: 0px 10px 0px 0px;
    text-transform: uppercase;
}
ul.nav li.no-link {
    color: #ddd;
    font-style: italic;
    font-size: 1em;
}
ul.nav li .arrow-point {
    display: block;
    border: 17px solid transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    position: absolute;
    top: -1px;
    right: -20px;
    z-index: 5;
}
ul.nav li .arrow-border {
    display: block;
    border: 17px solid transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    position: absolute;
    top: -1px;
    right: -21px;
    z-index: 4;
}


/* Site Nav */
#site_nav_container {
    color: #ddd;
    background-color: #002341;
    border-top: 1px solid #999;
    border-bottom: 1px solid #444;
    height: 32px;
    line-height: 32px;
}
#site_nav {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    position: relative;
}
#site_nav ul.nav li a {
    color: #fff;
    background-color: #074474;
    background: -moz-linear-gradient(0deg, #002341, #074474);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #002341), color-stop(1, #074474));
    text-shadow: #000 1px 1px 1px;
}
#site_nav ul.nav li a:hover, #site_nav ul.nav li a:focus {
    color: #f2e4aa;
}
#site_nav .arrow-point {
    border-left: 10px solid #074474;
}
#site_nav .arrow-border {
    border-left: 10px solid #fff;
}


/* Admin Nav */
#admin_nav_container {
    color: #ddd;
    background-color: #555;
    border-top: 1px solid #999;
    border-bottom: 1px solid #444;
    height: 32px;
    line-height: 32px;
}
#admin_nav {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    position: relative;
}
#admin_nav ul.nav li a {
    color: #fff;
    background-color: #333;
    background: -moz-linear-gradient(0deg, #555, #333);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #555), color-stop(1, #333));
    text-shadow: #000 1px 1px 1px;
}
#admin_nav ul.nav li a:hover, #admin_nav ul.nav li a:focus {
    color: #f2e4aa;
}
#admin_nav .arrow-point {
    border-left: 10px solid #333;
}
#admin_nav .arrow-border {
    border-left: 10px solid #fff;
}



#login_status, #ghost_status {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    line-height: 32px;
}
#login_status a {
    background-color: #214E72;
    padding: .2em .5em;
    margin-left: 10px;
    color: #E4F3FF;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: transparent;
}
#ghost_status a {
    background-color: #444;
    padding: .2em .5em;
    margin-left: 10px;
    color: #eee;
    border-radius: 6px;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-color: transparent;
}
