/* Gereral */
#header a {
	border: none;
}
strong {
	text-transform: uppercase;
	font-size: .9em;
}
abbr {
	cursor: help;
}
p {
    margin: 0px 0px 1em;
}
.hide_printer_friendly {
    display: none;
}

/* Links */
a {
	color: #005787;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
a:hover, a:focus {
	border-bottom: 1px solid #005787;
}
a:active {
	border: none;
	outline: none;
}
a img {
	border: none;
}
a.noborder {
    border: none;
    padding: 0px;
}
#skiplinks a, #footer a {
	color: #efefef;
	border-bottom: none;
	margin-right: 7px;
	padding-right: 7px;
	border-right: 1px dotted #999;
	font-size: .9em;
	font-weight: normal;
}
#skiplinks a:hover, #skiplinks a:focus, #footer a:hover, #footer a:focus {
	color: #f4c45c;
}
.retTop {
	margin-bottom: 1.5em;
	text-align: right;
}
.retTop a {
	background-image: url(../../images/arrowUp.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 17px;
	font-weight: normal;
}
a.anchor {
	background-image: url(../../images/arrowDown.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 17px;
}


/* Headers */
h1 {
	color: #333;
	margin-bottom: 1em;
	font-family: "Times New Roman", Times, serif;
	font-size: 2.4em;
	font-weight: normal;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.8em;
	font-weight: normal;
    font-style: normal;
	margin: 2em 0px .5em;
	border-bottom: 2px solid #ddd;
	color: #555;
}
h3 {
	font-size: 1.3em;
	font-style: italic;
    font-weight: normal;
    color: #444;
    margin: 2em 0px .7em;
}


/* Lists */
ul, ol {
	margin: .5em 0px 1em 20px;
}
ul li, ol li {
	margin-left: 15px;
	line-height: 2em;
}


/* Tables */
table {
	width: 100%;
	margin: 1em 0px;
}
thead {
}
thead th {
	padding: 2px 5px;
	border-top: 2px solid #666; 
	border-bottom: 2px solid #666; 
	color: #444;
	font-style: italic;
	background-color: #e1e1e1;
}
th, td {
	padding: 2px 5px;
	margin: 0px;
    border-bottom: 1px dotted #bbb;
    text-align: left;
}
tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    background-color: #efedd9;
}
table#scheduleTable tbody tr td {
	border-bottom: 1px solid #aaa;
}
