/* basic styles */
#syllabus ul, #syllabus ol {
	margin: 1em 0px 1em 30px;
}
#syllabus li ol, #syllabus li ul {
	margin: 0px 20px;
}
#syllabus h2 {
	padding: 5px;
}
#syllabus h3 {
	font-size: 1.1em;
	font-style: italic;
	margin: 0em 0px .5em;
}
#syllabus table {
	width: 100%;
    margin: 0px;
    background-color: #fff;
    border-spacing: 0px 3px;
}
#syllabus table .table_padder {
    width: 160px;
    padding: 5px;
    border: none;
    border-right: 1px solid #999;
}
#syllabus thead th {
    border-bottom: none;
}
#syllabus td, #syllabus th {
	padding: 2px 5px;
	text-align: left;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
#syllabus td.controls_cell {
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding-left: 10px;
    text-align: center;
    -moz-border-radius: 7px 0px 0px 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}
#syllabus td ol, #syllabus th ol, #syllabus td ul, #syllabus th ul {
	margin: 0px 20px;
}
#syllabus table.nested_table td, #syllabus table.nested_table th {
    border: none;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
}


/* edit mode styles */
#syllabus {
    position: relative;
}
#syllabus_header_container {
    position: relative;
}
#syllabus_global_controls {
    margin: 2em 0em;
}
#syllabus .module_title_bar {
    position: relative;
    clear: both;
}
#syllabus .module_title {
    border-bottom: none;
    float: right;
    width: 638px;
    padding: 0px 150px 0px 10px;
    border: 1px solid #666;
    border-left: none;
    margin: 0px;
	font-family: "Times New Roman", Times, serif;
    background-color: #ffffcc;
    background: -moz-linear-gradient(-90deg, #ffffff, #ffffcc);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ffffcc));
    line-height: 35px;
	font-weight: normal;
    font-style: normal;
	color: #555;
    height: 35px;
}
#syllabus .module_order_field {
    
}
#syllabus .module_sort_controls {
    width: 153px;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px 0px 35px;
    margin: 0;
    border: 1px solid #666;
    float: right;
    text-align: left;
    position: relative;
    background-color: #efefef;
    background: -moz-linear-gradient(-90deg, #ffffff, #c5c5c5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #c5c5c5));
}
#syllabus .module_sort_controls a {
    color: #444;
    padding: 0px;
    border: none;
	text-decoration: none;
}
#syllabus .module_sort_controls a.expand-source {
    position: absolute;
    left: 15px;
}
#syllabus .module_order_field {
    margin-right: 5px;
}
#syllabus .module_order_field input {
    width: 15px;
    height: 10px;
}
#syllabus .module_order_field label {
    position: absolute;
    left: -9999px;
}
#syllabus .add_item_row {
    margin: .5em 0px;
}
#syllabus .module_items_container {
    padding: 20px 0px 20px 30px;
    background-image: url(../images/module_items_container_bg.png);
    background-color: #efefef;
    background-repeat: repeat-y;
    background-position: -99px 0px;
    border-right: 1px solid #666;
    clear: both;
}
#syllabus .module_items_container .browse_repository_link {
    margin: 0em 0px .5em 180px;
}
#syllabus .module_item {
    position: relative;
    background-color: #fff;
    position: relative;
}
#syllabus .module_item_header {
    margin: 0px 0px .5em;
}
#syllabus .item_order_field {
    margin-right: 5px;
}
#syllabus .item_order_field input {
    width: 15px;
}
#syllabus .item_order_field label {
    position: absolute;
    left: -9999px;
}


/* Sort options */
#syllabus ul.sortable {
	margin: 0px;
	padding: 0px;
    border-bottom: 5px solid #ccc;
}
#syllabus li.module_sort_item {
    margin: 0px;
    padding: 0px;
	position: relative;
    list-style: none;
}
#syllabus a.move-link.disabled {
    background-color: transparent;
}
