/* TABS STYLTES */

.tabs {
    border: 1px solid #333;
    padding: 5px 10px 0px;
    margin: 1em 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #c19600;
    background: -moz-linear-gradient(-90deg, #c19600, #806a1e);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c19600), color-stop(1, #806a1e));
}
.tabs li {
	margin: 0px;
    padding: 0px;
	list-style-type: none;
    background-image: none;
	border: none;
    position: relative;
    top: 2px;
}
.tabs li a {
	display: block;
    color: #444;
    border: 1px solid #5e4f1a;
    border-bottom: none;
	text-decoration: none;
    background-color: #f3e1a3;
    padding: 3px 15px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.tabs li.tab-selected {
    position: relative;
    top: 1px;
}
.tabs li.tab-selected a {
    padding: 5px 15px;
    border-color: #444;
    border-bottom-color: #fff;
    -webkit-box-shadow: 0px -1px 2px #222;
    -moz-box-shadow: 0px -1px 2px #222;
    background: -moz-linear-gradient(90deg, #fff, #f3e1a3);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3e1a3), color-stop(1, #fff));
}
.tabs li.tab-selected a {
    color: #222;
}
.tabs li a:hover, .tabs li a:focus {
    background-color: #e2ce88;
}
