@import "colors";

$icon-font-path:          	"../fonts/";
$font-family-sans-serif:  	"Lato", Arial, Tahoma, sans-serif;//"Muli",Helvetica, sans-serif;
// $brand-font-family:			'Alegreya Sans SC', sans-serif;
// $brand-font-family:			'Vollkorn SC', serif;
$brand-font-family:			'Alegreya Sans SC', sans-serif;
// $headings-font-family:    	'Alegreya Sans SC', sans-serif;
$headings-font-family:    	'Lato', sans-serif;
$headings-font-weight:    	600;
$headings-line-height:    	1.1;
$headings-color:          	#1c1325;
$headings-color:			#292F36;
$input-border-focus:      	#9d94ff;
$breadcrumb-separator:		"/";
$enable-gradients: 			true;
$navbar-bg-color:			#98C1D9;
$navbar-bg-color:			#BFBDC1;
$navbar-bg-color:			#DCDCDC;
$navbar-bg-color:			$smoke_light_5;
$navbar-bg-color-2:			$grey_light_3;


$sfsu-alt-purple-lte-1:		#321c4a;
$sfsu-alt-purple-lte-2:		#67448d;
$sfsu-alt-purple-lte-3:		#806aaf;
$sfsu-shadow-purple:		#693e88;
$sfsu-header-footer-purple: #330333;
$sfsu-primary-purple-dark:	#231161;
$sfsu-primary-purple-lte:	#463077;
$sfsu-primary-yellow-dark:	#C99700;
$sfsu-primary-yellow-lte:	#E9D597;
$sfsu-secondary-blue:			#004F71;
$sfsu-secondary-green:			#ABAD00;
$sfsu-secondary-red-lte:		#B04A5A;
$sfsu-secondary-red:			#9A3324;
$sfsu-secondary-gray:			#53565A;
$at-teal: #D5F1EF;

$footer-background-color: 		#242331 !important;
$footer-row-1-background-color: #242331 !important;
$footer-row-2-background-color: $footer-background-color;
$footer-text-white: 			#fff;
$footer-text-blue: 				#aebee1;
$footer-text-blue-lte: 			#d9e1f1;

$navbar-default-link-color: 		#FFF;
$navbar-default-link-color:			#586994;
$navbar-default-link-color:			$smoke_dark_5;
$navbar-default-link-hover-color: 	#fff;
$navbar-default-link-hover-bg: 		#415A77;
// $breadcrumb-color: 					$navbar-default-link-color;


$primary:       #0C6291;	// #1B2A4B; //#0F5257;
$primary:		#0c5454;
$primary: 		$cyan_dark_2;
$primary:		#0e949f;
$primary:		#4E7D91;
$secondary: 	#82a9b3;
$secondary:		#23293D;
$success:       #00b297;//#04b565;
$success: 		$teal;
$success:		#009b84;
$info:          #04968E;//#17A2B8; //#0C6291;
$info:			$sky_dark_2;
$info:			#0293c9;
// $info-lte:      $navbar-default-link-color; 	// #365285
// $light:			#EBFCFC;
$warning:       #FFAA00;//#FFBC42;		// not overridden
// $warning:		#E1CE7A;
$warning-1:		#F2F3AE;
$warning-2:    	#792359;
$danger:        $sfsu-secondary-red;			// #a93f3d
$danger:		#9A3324;
$dark:          #2D194F;//$sfsu-secondary-gray;
$muted: 		#6c757d;

$primary-alt-1: #806aaf;
$info-alt-1: #F9DFBC;
$info-alt-2: #fba871;
// New Colors:
// $primary: #4B8D9F;

$primary: #0C6291;
$secondary: #6fa4b2;
$success:		#009b84;
$info: #EEAB79;
$dark: #1B335A;
$muted: 		#6c757d;
$warning:       #FFAA00;
$danger:		#9A3324;

$salmon: #f47f72;
// $warning: $salmon;



$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "muted": $muted
);

