

// HEADER ////////////////////////////////////////////////////
.at {
	.navbar {
		background-color: $navbar-bg-color;
		border-color: $sfsu-alt-purple-lte-2;
		margin-bottom: 0;
		color: #000;
		padding: 0;
		> .navbar-brand {		
			@include navbar-link($navbar-default-link-color, $secondary, #242331);
			&:hover,
			&:focus {
				color: $primary;
				background-color: $navbar-bg-color-2;
				transition: background-color 0.2s;
				> a {
					text-decoration: none;
				}
			}
			color: #000;
			text-transform: none;
			font-family: $brand-font-family;
			font-weight: 500 !important;
			font-size: 25pt;
			// background-color: #fff;
			background-color: $navbar-bg-color;
			line-height: 50px;
			letter-spacing: 5px;
			padding-left: .5em;

			.brand-text {
				color: #000;
			}
			#sidebarToggle {
				cursor: pointer;
				color: $primary;
				&:hover,
				&:focus {
					transition: color 0.2s;
					color: #000;
				}
			}
			@media (max-width: 991px) {
				padding-right: 2em;
				width: 5%;
			}
		}
		.nav-item {
			text-align: center;
			.nav-link {
				line-height: 50px;
				padding: .3em .5em;
				letter-spacing: 1px;
				&.login-button {
					margin-left: 1em;
					margin-right: 1em;
					@media (max-width: 768px) {
						margin-right: 0 !important;
					}
				}
				position: relative;
				&:hover {
					color: #000;
				}
				&:before {
					@media (min-width: 769px) {
						content: "";
						position: absolute;
						width: 100%;
						height: 8px;
						bottom: 0;
						left: 0;
						background-color: #000;
						visibility: hidden;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.2s ease-in-out 0s;
						transition: all 0.2s ease-in-out 0s;
					}	
				}
				&:hover:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				color: $navbar-default-link-color;
				@media (max-width: 991px) {
					font-weight: 600;
					&:hover,
					&:focus {
						// background-color: $navbar-bg-color-2 !important;
						cursor: pointer;
						transition: background-color 0.2s;
					}
				}
			}
			@include navbar-link($navbar-default-link-color, $secondary, #242331);
			&:hover,
			&:focus {
				color: $primary;
			}
			.btn:not(:disabled):not(.disabled) {
			    cursor: pointer;
			}
			.dropdown-menu.show {
			    display: block;
			}
			.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
			    right: auto;
			    bottom: auto;
			}
			.dropdown-menu {
		    	box-shadow: 0 0.25rem 2rem rgba(0,0,0,.08);
			}
		}
		> .collapse {
			> .logout-form {
				@media (max-width: 991px) {
					text-align: center;
					padding: 0.75rem !important;
				}
				button.logout {
					color: $primary;
					&:hover {
						color: #fff;
					}
				}
			}
		}

	}
}
.navbar-collapse {
	max-height: calc(100vh - 50px);
	overflow-y: auto;
}

@media (max-width: 768px) {
	.at {
		.navbar {
			.nav-item {
				.nav-link {
					&.login-button {
						// margin-right: 0 !important;
					}
				}
			}
			.media {
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-align: start;
			    align-items: flex-start;
			} 
		}
	}
}
@media (max-width: 991px) {
	.at {
		.navbar {
			> button {
				margin-top: 0.65rem !important;
				margin-bottom: 0.65rem !important;
			}
			.navbar-collapse {
				background-color: $dark;
				border-right: 1px solid $secondary;
				border-left: 1px solid $secondary;
				.nav-item {
					.navbar-text {
						font-size: 1.2em;
						color: $light;
					}
					.nav-link {
						color: #fff !important;
						&:hover,
						&:focus {
							background-color: $dark-2 !important;
						}						
					}
				}
			}
			.logout#logout-button {
				color: $light;
				border-color: $secondary;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}


// BREADCRUMBS
$line-height-computed:    	floor(($font-size-base * $line-height-base));
// $breadcrumb-color: 			$navbar-default-link-color;
.at {
	// background-color: #e9ecef;
	.bc {
		background-color: $breadcrumb-bg;
	}
	.breadcrumb {
		padding: $breadcrumb-padding-y 0;
		margin-bottom: 0;
		list-style: none;
		background-color: $breadcrumb-bg;
		border-radius: 0;

		> li {
			display: inline-block;

			+ li:before {
				display: inline-block; // Suppress underlining of the separator in modern browsers
				content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
				padding: 0 5px 0 15px;
				color: $breadcrumb-divider-color;
			}
		}

		> .active {
			color: $breadcrumb-active-color;
		}
	}
	.navbar-text {
		line-height: 51px;
		padding: .3em;
		letter-spacing: 1.1px;
		color: $primary;
	}
}

.editor-header {
	margin-left: -.9em !important;
	margin-right: -1em !important;
	
	h1 {
		font-size: 1.5rem;
		line-height: 1.25;
		.font-size-base {
		    font-size: 1rem!important;
		}
	}



	&.bg-body-light {
	    background-color: #f9f9f9!important;
	}
	@media (min-width: 768px) {
		.content.content-full {
		    padding-bottom: 1.875rem;
		}
	}
	.content.content-full {
	    padding-bottom: 1rem;
	}
	@media (min-width: 768px) {
		.content {
		    width: 100%;
		    margin: 0 auto;
		    padding: 1.875rem 1.875rem 1px;
		    overflow-x: visible;
		}
	}
	.content {
	    width: 100%;
	    margin: 0 auto;
	    padding: 1rem 1rem 1px;
	    overflow-x: visible;
	}
	.breadcrumb {
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: .75rem 0;
	    margin-bottom: 0;
	    list-style: none;
	    background-color: transparent;
	    border-radius: .25rem;
		.breadcrumb.breadcrumb-alt .breadcrumb-item {
		    font-size: .875rem;
		    font-weight: 600;
		}
		.breadcrumb.breadcrumb-alt .breadcrumb-item+.breadcrumb-item::before {
		    position: relative;
		    top: 1px;
		    width: 1.25rem;
		    font-family: simple-line-icons;
		    font-size: .875rem;
		    color: #ced4da;
		    content: "\e606";
		}
		.breadcrumb-item+.breadcrumb-item::before {
		    display: inline-block;
		    padding-right: .5rem;
		    color: #6c757d;
		    content: "/";
		}
		.breadcrumb-item {
			@media (min-width: 576px) {
				a.link-fx {
				    position: relative;
				}
			}
			a {
			    transition: color .12s ease-out;
			}
			a {
			    color: #5c80d1;
			    text-decoration: none;
			    background-color: transparent;
			    -webkit-text-decoration-skip: objects;
			}
		}
	}	
}
