
@import "at-variables";
@import "bootstrap-4.1.1";
@import "at-theme";
@import "sidebar";
@import "syllabus";



$theme1: #3b3c3c;
$theme2: #0c5454;
$theme3: #10ad87;
$theme4: #8ac33c;
$theme5: #0a7c7c;
$theme6: #384874;
$theme7: #2e4865;
$theme8: #316c54;

body {
	// font-family: "Lato", Arial, Tahoma, sans-serif;
	// background: url("../images/color-tiles03-1000x120px.svg") #fff;
}

div.main-content {
	background-color: #ffffff;
	padding: 1em;
}
#mainContent {
	// background-color: $gold_light_5;
	min-height: 60em;
}

.at-jumbotron {
	position: relative;
	background-color: #6C6C6C;
	background-image: url("../images/organize01.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-size: cover;
	background-position: center bottom;
	background-position: 50% 65%;
	background-blend-mode: exclusion;
	border-radius: 0;
    margin-left: -1em !important;
    margin-right: -1em !important;
    margin-bottom: 0;
    margin-bottom: 1em;
    height: 12em;

 	/* the fallback for IE 10, 11 and Edge. */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     	&:after {
     		content:'';
     		background: rgba(110,110,110, 0.9);
			position: absolute;
			left: 0;
			top:0;
			bottom:0;
			width:100%;
		}
	}

	.container, .container-fluid {
		margin-top: 1em;
		p {
			color: #ffffff;
			text-shadow: 0px 0px 1px #000;
			
			&.lead {
				// text-shadow: 0px 0px 1px #000;
				// font-weight: 600;
			}
			&.login {
				// color: $navbar-default-link-color;
				// text-shadow: 0px 0px 1px #000;
			}
		}
		hr {
			border: 1px solid $navbar-default-link-color;
		}
		h1 {
			color: #000;
			text-shadow: 0px 0px 1px $navbar-default-link-color;
			> small {
				color: $smoke_dark_5;
			}
		}
	}
	
}
@supports (-ms-ime-align:auto) {
	.at-jumbotron:after {
		content:'';
		background: rgba(110,110,110, 0.9);
		position: absolute;
		left: 0;
		top:0;
		bottom:0;
		width:100%;
	}
}
