
@import "at-variables";
@import "bootstrap-4.1.1";
@import "at-theme";
@import "sidebar";
@import "syllabus";
@import "jqueryui";



$theme1: #3b3c3c;
$theme2: #0c5454;
$theme3: #10ad87;
$theme4: #8ac33c;
$theme5: #0a7c7c;
$theme6: #384874;
$theme7: #2e4865;
$theme8: #316c54;

body {
	// font-family: "Lato", Arial, Tahoma, sans-serif;
	// background: url("../images/color-tiles03-1000x120px.svg") #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    // font-size: 1.1em;
    // font-weight: 300;
    // line-height: 1.7em;
    color: #222;
}
div.main-content {
	background-color: #ffffff;
	padding: 1em;
}
#mainContent {
	// background-color: $gold_light_5;
	// min-height: 60em;
}

.wrapper {
	#content {
		margin-top: 0;
	    width: 100%;
	    // padding: 20px;
	    min-height: 100vh;
	    min-height: calc(100vh - 317px);
	    transition: all 0.3s;
	}
}

@media (min-width: 992px) {
	.modal-xl {
		max-width: 85%;
	}	
}


.at-jumbotron {
	position: relative;
	background-color: #6C6C6C;
	background-image: url("../images/organize01.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-size: cover;
	background-position: center bottom;
	background-position: 50% 65%;
	background-blend-mode: exclusion;
	border-radius: 0;
    margin-left: -1em !important;
    margin-right: -1em !important;
    margin-bottom: 0;
    margin-bottom: 1em;
    height: 12em;

 	/* the fallback for IE 10, 11 and Edge. */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     	&:after {
     		content:'';
     		background: rgba(110,110,110, 0.9);
			position: absolute;
			left: 0;
			top:0;
			bottom:0;
			width:100%;
		}
	}

	.container, .container-fluid {
		margin-top: 1em;
		p {
			color: #ffffff;
			text-shadow: 0px 0px 1px #000;
			
			&.lead {
				// text-shadow: 0px 0px 1px #000;
				// font-weight: 600;
			}
			&.login {
				// color: $navbar-default-link-color;
				// text-shadow: 0px 0px 1px #000;
			}
		}
		hr {
			border: 1px solid $navbar-default-link-color;
		}
		h1 {
			color: #000;
			text-shadow: 0px 0px 1px $navbar-default-link-color;
			> small {
				color: $smoke_dark_5;
			}
		}
	}
	
}
@supports (-ms-ime-align:auto) {
	.at-jumbotron:after {
		content:'';
		background: rgba(110,110,110, 0.9);
		position: absolute;
		left: 0;
		top:0;
		bottom:0;
		width:100%;
	}
}

// SORTABLE STYLES - jQuery UI
.drop-placeholder {
	background-color: lightgray;
	height: 3.5em;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 1.2em;
}
#sortable { 
	list-style-type: none; margin: 0; padding: 0; width: 60%; 
}
.ui-state-highlight { 
	height: 8em; 
	margin-top: 1em;
	background-color: $warning;
	opacity: .4;
}

.card-img-top.crop-top {
	object-fit: cover; 
	object-position: top;
	&.crop-top-5 {
		max-height: 5rem;
	}
	&.crop-top-8 {
		max-height: 8rem;
	}
	&.crop-top-10 {
		max-height: 10rem;
	}
	&.crop-top-13 {
		max-height: 13rem;
	}
	&.crop-top-15 {
		max-height: 15rem;
	}
}
.card-img-top-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	> img {
		width: 100%;
		height: 100%;
		vertical-align: top;
	}
	&:after {
	    content: '\A';
	    position: absolute;
	    width: 100%; height:100%;
	    top:0; left:0;
	    background: rgba(150, 150, 150, .6);
	    z-index: 0;
	}
}
.overlay-checkbox {
	z-index: 1;
}
.overlay-icon {
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 1;
    display: none;
    &.overlay-icon-resources {
    	left: 5%;
    }
}
hr {
	&.fancy-line-1 {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
	&.fancy-line-2 {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}
	&.fancy-line-3 {
	    overflow: visible; /* For IE */
	    height: 30px;
	    border-style: solid;
	    border-color: black;
	    border-width: 1px 0 0 0;
	    border-radius: 20px;
	    &:before {
			display: block;
			content: "";
			height: 30px;
			margin-top: -31px;
			border-style: solid;
			border-color: black;
			border-width: 0 0 1px 0;
			border-radius: 20px;
	    }
	}
}

@media (max-width: 576px) {
	.search-container {
		margin-top: 2rem;
	}
}


.mh-20 {
	max-height: 20% !important;
}
.mh-15 {
	max-height: 15% !important;
}
.mh-10 {
	max-height: 10% !important;
}
.mw-20 {
	max-width: 20% !important;
}
.mw-15 {
	max-width: 15% !important;
}
.mw-10 {
	max-width: 10% !important;
}


.min-vh-100 {
	min-height: 100vh;
}
.vh-100 {
	height: 100vh;
}
.min-vh-70 {
	min-height: 70vh;
}
.vh-70 {
	height: 70vh;
}
.min-vh-75 {
	min-height: 75vh;
}
.vh-75 {
	height: 75vh;
}
.min-vh-65 {
	min-height: 65vh;
}
.vh-65 {
	height: 65vh;
}
.min-vh-50 {
	min-height: 50vh;
}
.vh-50 {
	height: 50vh;
}
.min-vh-25 {
	min-height: 25vh;
}
.vh-25 {
	height: 25vh;
}
.min-vh-5 {
	min-height: 5vh;
}
.font-size-18 {
	font-size: 18pt;
	font-size: 1.5rem;
}
.text-break {
	overflow-wrap: break-word;
	word-break: break-word;
}


blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 


.paper {

	&.paper-top {
		// background: #fff;
		box-shadow:
			/* The top layer shadow */
			0 -1px 1px rgba(0,0,0,0.15),
			/* The second layer */
			0 -10px 0 -5px #eee,
			/* The second layer shadow */
			0 -10px 1px -4px rgba(0,0,0,0.15),
			/* The third layer */
			0 -20px 0 -10px #eee,
			/* The third layer shadow */
			0 -20px 1px -9px rgba(0,0,0,0.15);
	}


	&.paper-bottom {
		// background: #fff;
		box-shadow:
			/* The top layer shadow */
			0 1px 1px rgba(0,0,0,0.15),
			/* The second layer */
			0 10px 0 -5px #eee,
			/* The second layer shadow */
			0 10px 1px -4px rgba(0,0,0,0.15),
			/* The third layer */
			0 20px 0 -10px #eee,
			/* The third layer shadow */
			0 20px 1px -9px rgba(0,0,0,0.15);
	}


	/* Diagonal stacked paper effect */
	&.paper-diagonal {
		// background-color: #fff;
		/* Need position to allow stacking of pseudo-elements */
		position: relative;
		/* Padding for demo purposes */
		// padding: 30px;
	}
	&.paper-diagonal,
	&.paper-diagonal::before,
	&.paper-diagonal::after {
		/* Add shadow to distinguish sheets from one another */
		box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
	}
	&.paper-diagonal::before,
	&.paper-diagonal::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #eee;
	}
	/* Second sheet of paper */
	&.paper-diagonal::before {
		left: 7px;
		top: 5px;
		z-index: -1;
	}
	/* Third sheet of paper */
	&.paper-diagonal::after {
		left: 12px;
		top: 10px;
		z-index: -2;
	}


	/* Diagonal stacked paper effect */
	&.paper-disorganized {
		background-color: #fff;
		/* Need position to allow stacking of pseudo-elements */
		position: relative;
	}
	&.paper-disorganized,
	&.paper-disorganized::before,
	&.paper-disorganized::after {
		/* Add shadow to distinguish sheets from one another */
		box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
	}
	&.paper-disorganized::before,
	&.paper-disorganized::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #eee;
	}
	/* Second sheet of paper */
	&.paper-disorganized::before {
		left: 7px;
		top: 5px;
		z-index: -1;
	}
	/* Third sheet of paper */
	&.paper-disorganized::after {
		left: 12px;
		top: 10px;
		z-index: -2;
	}
}


.corners { 
  background: initial;
  // height: 700px;
  margin: 50px auto;
  // max-width: 600px;
  position: relative;
  width: 90%;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
  background: #e6e6e6;
  content: '';
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  box-shadow: 0 5px 10px -7px hsla(0, 0% ,0%, 0.5);
}
.corners:after {
  left: -50px;
  transform: rotate(-45deg);
}
.corners:before {
  right: -50px;
  transform: rotate(45deg);
}



.ribbon-wrapper {
  // margin: 50px auto;
  // width: 280px;
  // height: 370px;
  // background: white;
  // border-radius: 10px;
  // -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  // -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  // box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  // position: relative;
  // z-index: 90;
}

.ribbon-wrapper-gray {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  // text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#F5F5F5)); 
  background-image: -webkit-linear-gradient(top, #efefef, #F5F5F5); 
  background-image:    -moz-linear-gradient(top, #efefef, #F5F5F5); 
  background-image:     -ms-linear-gradient(top, #efefef, #F5F5F5); 
  background-image:      -o-linear-gradient(top, #efefef, #F5F5F5); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  &.ribbon-success {
	  color: #fff;
	  background-color: $success;
	  background-image: -webkit-gradient(linear, left top, left bottom, from($success), to(#04968E)); 
	  background-image: -webkit-linear-gradient(top, $success, #04968E); 
	  background-image:    -moz-linear-gradient(top, $success, #04968E); 
	  background-image:     -ms-linear-gradient(top, $success, #04968E); 
	  background-image:      -o-linear-gradient(top, $success, #04968E); 
  }
  &.ribbon-warning {
	  color: #333;
	  background-color: $warning;
	  background-image: -webkit-gradient(linear, left top, left bottom, from($warning), to(#FFD18D)); 
	  background-image: -webkit-linear-gradient(top, $warning, #FFD18D); 
	  background-image:    -moz-linear-gradient(top, $warning, #FFD18D); 
	  background-image:     -ms-linear-gradient(top, $warning, #FFD18D); 
	  background-image:      -o-linear-gradient(top, $warning, #FFD18D);
  }
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #CDAEB1;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
	left: 0;
}
.ribbon:after {
	right:0;
}



.hover-shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



.fancy-amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style: italic;
	font-weight: normal;
}
