@import "at-mixins";
@import "at-header";
@import "at-footer";
@import "stretched-link";

html {
	position: relative;
	min-height: 100%;
}

body {
	// font-family: 'Julius Sans One', sans-serif;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  // letter-spacing: .5px;
	margin-bottom: 237px;

	#content {
		min-height: 260px;
    margin-bottom: 80px;
    margin-top: 20px;
	}
}

.nonvisual-context {
	@extend .sr-only;
	@extend .sr-only-focusable;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small,
  .small {
	font-weight: inherit;

  }
}
h1 {
  // font-family: $brand-font-family;
  // font-weight: 500;
  // letter-spacing: 0.8px;
}
h3 {
    // text-transform: uppercase; 
    // font-weight:700;
    // font-size: $font-size-base * 1.50;
}

#user-message {
  // margin-top: -$line-height-computed;
}

.alert { 
    .close {
        opacity:.5;
        filter: alpha(opacity=50);
    }
    .close:hover, .close:focus {
        opacity:.7;
        filter: alpha(opacity=70);
    }
}

// TABLES
table.data {
    @extend .table;
    @extend .table-sm; // .table-condensed;
    @extend .table-bordered;
    @extend .table-striped;
}
table.no-stripe-data {
    @extend .table;
    @extend .table-sm; // .table-condensed;
    @extend .table-bordered;
}
table.data.break td {
    table-layout: fixed;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
table.no-stripe-data tr.even {
    background-color: $table-accent-bg;
}
table.no-stripe-data tr.category td {
    background-color: #d8d8fa;
    padding: 0.25em 0.5em;
}
table.no-stripe-data tr.category.uncategorized td {
    background-color: #ffeed7;
    padding: 0.25em 0.5em;
}
table.hide-exempt tr.exempt { display: none; }


.heading {@extend .form-control-lg;}
.error {
    @extend .alert;
    @extend .alert-warning;
}
.field {
    @extend .form-group;
}
.site-notice.action.notice {
    @extend .alert;
    @extend .alert-danger;
}
.center {
  @extend .text-center;
}


.search-box,.search-wrapper {
  position: relative;
}
.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 41%;
  right: -17%;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #E42D2D;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 9px;
  cursor: pointer;
}
.close-icon:focus::after {
  box-shadow: 0 0 6px #5E5E5E;
  background-color: #C52727;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}
.font-w100 {
    font-weight: 100!important;
}
.font-w200 {
    font-weight: 200!important;
}
.font-w300 {
    font-weight: 300!important;
}
.font-w400 {
    font-weight: 400!important;
}
.font-w500 {
    font-weight: 500!important;
}
.font-w600 {
    font-weight: 600!important;
}
.font-w700 {
    font-weight: 700!important;
}
.font-w800 {
    font-weight: 800!important;
}
.font-w900 {
    font-weight: 900!important;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

// Bootstrap 4.1 original Alert color loop
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
// AT Theme Alert customizations
$alert-success-bg-color: #EDFFFC;
$alert-success-font-color: #065B4D;
$alert-danger-bg-color: #FFF0F0;
$alert-danger-font-color: #C11C1C;
$alert-info-bg-color: #FFF0E5;
$alert-info-font-color: #B34D00;
$alert-warning-bg-color: #FFEECC;
$alert-warning-font-color: #9F7013;
$alert-dark-bg-color: #EAF2FF;
$alert-dark-font-color: #1A335A;
$alert-primary-bg-color: #CEEEFF;
$alert-primary-font-color: #1A4962;
$alert-secondary-bg-color: #D3EAF0;
$alert-secondary-font-color: #2A4A50;
$alert-light-bg-color: #E8E8E8;
$alert-light-font-color: #474747;
$alert-white-bg-color: #FFFFFF;
$alert-white-font-color: #545454;


$alert-bg-colors: (
  "primary": $alert-primary-bg-color,
  "secondary": $alert-secondary-bg-color,
  "success": $alert-success-bg-color,
  "danger": $alert-danger-bg-color,
  "warning": $alert-warning-bg-color,
  "info": $alert-info-bg-color,
  "light": $alert-light-bg-color,
  "dark": $alert-dark-bg-color,
  "muted": $alert-white-bg-color
);
$alert-font-colors: (
  "primary": $alert-primary-font-color,
  "secondary": $alert-secondary-font-color,
  "success": $alert-success-font-color,
  "danger": $alert-danger-font-color,
  "warning": $alert-warning-font-color,
  "info": $alert-info-font-color,
  "light": $alert-light-font-color,
  "dark": $alert-dark-font-color,
  "muted": $alert-white-font-color
);

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px $grey_light_4;
    border-left: 10px solid;
    background: map-get($alert-bg-colors, $color) !important;
    background-color: map-get($alert-bg-colors, $color) !important;
    border-color: map-get($alert-font-colors, $color) !important;
    color: map-get($alert-font-colors, $color) !important;
  }
}


.divider-div {
  .row-divided {
    position:relative;
    height:100%;
    .vertical-divider {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      width: auto;
      height: 50%;
      line-height: 0;
      text-align:center;
      text-transform: uppercase;
      transform: translateX(-50%);
    }

    .vertical-divider:before, 
    .vertical-divider:after {
      position: absolute;
      left: 50%;
      content: '';
      z-index: 9;
      border-left: 1px solid $dark;
      border-right: 1px solid $dark;
      width: 0;
      height: calc(100% - 1rem);
    }

    .row-divided > .vertical-divider {
      height: calc(50% - 1rem);    
    }

    .vertical-divider:before {
      top: -100%;
    }

    .vertical-divider:after {
      top: auto;
      bottom: 0;
    }
    /* just to set different column heights - not needed to function */          
    // .column-one {
    //   height: 300px; 
    //   background-color: #EBFFF9;
    // }
    // .column-two {
    //   height: 400px;
    //   background-color: #F7F3FF;
    // }
  }

  .row-divided > [class^="col-"],
  .row-divided > [class*=" col-"] {
    padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
    padding-right: 30px; /* gutter width (give a little extra room) 2x default */
  }
  @media (max-width: 1199px) {
    display: none;
  }  
}








// .icon-header {
//     display: inline-block;
//     text-align: center;
//     margin: 2rem 0 1rem;
//     font-size: 1.71428571rem;
// }
// .icon-header, .icon {
//     float: none;
//     display: block;
//     width: auto;
//     height: auto;
//     line-height: 1;
//     padding: 0;
//     font-size: 3em;
//     margin: 0 auto .5rem;
//     opacity: 1;
// }
// .icon-header > .icon {
//   vertical-align: middle;
//   &:before {
//     background: 0 0!important;
//   }
// }
// i.icon {
//     // display: inline-block;
//     // opacity: 1;
//     // width: 1.18em;
//     // height: 1em;
//     // font-style: normal;
//     // text-decoration: inherit;
//     text-align: center;
//     // speak: none;
//     font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//     // color: #333333;
//     // display: block;
//     // font-size: 2em;
// }
// .icon-header > .content {
//     display: block;
//     padding: 0;
// }
// .icon-header > .icon+.content {
//     padding-left: .75rem;
//     display: table-cell;
//     vertical-align: middle;
//     > .sub-header {
//       font-size: 1.14285714rem;
//     }
// }

