#resourcesMasterTemplate {
	background-color: $light;
	background-color: #edf0f1;
	@import "separators";

	h1, h2, h3, h4, h5, h6 {
		color: #464666;
		// font-family: 'Montserrat', sans-serif;
		font-family: 'Lato', 'Montserrat', sans-serif;
	}
	h1 {
		.header-image {
			width: 3em;
			@media only screen and (max-width: 768px) {
				width: 2em;
				display: none;
			}
			@media only screen and (max-width: 576px) {
				display: none;
			}			
		}
	}
	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 1.5rem;
			// margin-bottom: 0 !important;
		}
		.wrap {
			// display: none;
		}
		// #topSplash {
		// 	padding-top: 0 !important;
		// }
		.spotlight {
			padding-top: 1rem !important;
		}
		#imagebar {
			height: 40px !important;
		}
	}
	@media only screen and (max-width: 576px) {
		h1 {
			font-size: 1rem;
		}
		.wrap {
			display: none;
		}
		.header-container {
			display: none;
			h1 {
				display: none;
			}
			// position: absolute !important;
			// top: -9999px !important;
			// left: -9999px !important;
			// padding-top: 0px !important;
			// padding-bottom: 0px !important;
		}
		// #imagebar {
		// 	height: 0;
		// 	display: none;
		// }
		#smallLink {
			display: none !important;
		}
		#homeLink {
			display: block !important;
			a {
				color: #fff;
				line-height: 40px;
			}
		}
		#topSplash {
			padding-top: 0 !important;
		}
		.spotlight {
			padding-top: 1rem !important;
		}
		.story {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}	
	.at {
		background-color: $sfstate-blue-1;
		.navbar {
			color: #fff;
			background-color: $sfstate-blue-1;
			// border-bottom: 8px solid $sfstate-yellow-1;
			> .navbar-brand {

			    color: #fff;
			    transition: background-color 0.1s;
			    text-transform: none;
			    font-family: 'Montserrat', sans-serif;
			    font-family: 'Lato', sans-serif;
			    font-weight: bold !important;
			    font-size: 1.25rem;
			    background-color: $sfstate-blue-1;
			    // line-height: 50px;
			    letter-spacing: 1px;
			    padding-left: 0;

			    a {
			    	color: #fff;
			    	&:hover {
			    		// color: $sfstate-yellow-2;
			    		text-decoration: underline;
			    	}
			    }
			    &:hover {
			    	// color: $sfstate-yellow-2;
			    }
			    #smallLink {
			    	a {
			    		color: #BBB;
			    		font-family: 'Montserrat', sans-serif;
			    	}
			    }
				@media only screen and (max-width: 576px) {
					font-size: 1rem;
					#smallLink {
						display: block;
						padding-left: 0 !important;
					}
				}
			}
		}
	}

	#imagebar {
		height: 50px;
		background-color: $sfstate-yellow-1;
		background: $sfstate-yellow-1 url("../images/gold-60pct-50pctopacity_0.jpg") repeat-x 50% 0;
	}

	.sticky-footer .at-footer {
	    // font-size: 12px;
	    padding: 0.5rem 0 0.5rem 0;
	    color: #333;
	    color: #fff;
	    background-color: #ebebea !important;
	    background-color: #666666 !important;
	    a, h2, strong {
	    	color: #333;
	    	color: #fff;
	    }
	    #contact-university ul {
	    	@media (max-width: 576px) {
	    		display: none;
	    	}
	    }
	}

	.wrap .left {
	    border-bottom: 4px solid $sfstate-red;
	    &.h1 {
	    	border-bottom: 10px solid $sfstate-red;
	    }
	}

	#topSplash {
		background-color: rgba(0,79,113, 0.8);
		background-image: linear-gradient(to bottom, rgba(0,79,113, 0.8), rgba(0,79,113, 1)), url(../images/bantersnaps-9o8YdYGTT64-unsplash.jpg);
	    background-size: cover;
	    position: relative;
	    background-position: center top;
	}

	.spotlight {
		h2 {
			font-weight: 500;
			font-family: 'Montserrat', sans-serif;
		}
		.story {
		    width: 100%;
		    box-shadow: rgba(0, 0, 0, 0.1) 0px 3rem 6rem;
		    background-color: rgba(255, 255, 255, 0.6);
		    font-size: 1.2rem;
		    margin: 0px auto;
		    border-radius: 3px;
		    padding: 2rem 2rem 2rem 2rem;
			@media only screen and (max-width: 576px) {
				font-size: 1rem;
				padding: 1.25rem;
			}
		}

		.story__shape {
		    padding-right: 3rem;
		    float: left;
		    position: relative;
		}
		.story__img {
			@media only screen and (max-width: 768px) {
				height: 8rem;
			}			
		}
		.u-margin-bottom-small {
		    margin-bottom: 1.5rem !important;
		}

		.heading-tertiary {
		    font-size: 1.6rem;
		    font-weight: 700;
		    text-transform: uppercase;
			@media only screen and (max-width: 768px) {
				font-size: 1.1rem;
				margin-bottom: 0 !important;
			}
		}	
	}

	.spotlight .story__img {
		// max-width: 13em;
		// @media only screen and (max-width: 768px) {
		// 	max-width: 10em;
		// 	padding-right:1rem;
		// }
		// @media only screen and (max-width: 576px) {
		// 	max-width: 8em;
		// }
	}
}