.editor-main-controls-top,
.editor-main-controls-bottom {
    padding: 1.25em;
    background-color: $orange_light_5;	
    background-color: $indigo_light_4;
}

.section-metadata {
    padding: 1.25em;
}

#syllabusEditor {
	.editor-resources {
		@media (max-width: 991px) {
			.choose-add-resource {
				text-align: center;
				.big-or {
					font-size: 2rem;
					display: block;
				}
			}
		}
	}
}

// .drop-placeholder {
// 	background-color: lightgray;
// 	height: 3.5em;
// 	padding-top: 12px;
// 	padding-bottom: 12px;
// 	line-height: 1.2em;
// }
// #sortable { 
// 	list-style-type: none; margin: 0; padding: 0; width: 60%; 
// }
// .ui-state-highlight { 
// 	height: 8em; 
// 	margin-top: 1em;
// 	background-color: $warning;
// 	opacity: .4;
// }
