.editor-main-controls-top,
.editor-main-controls-bottom {
    padding: 1.25em;
    background-color: $footer-text-blue-lte;	
}

.section-metadata {
    padding: 1.25em;
    // background-color: $footer-text-blue-lte;
    // color: #fff;
}