@import "_edit";
@import "_view";

html {
  scroll-behavior: smooth;
  body {
  	height: auto !important;
  }
}
.firstcharacter {
  color: $primary;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.student-container {
	#termAccordion {
		a.collapse-term {
			&:hover,
			&:focus {
				text-decoration: none;
			}
			h3 i.minimized {
				display: none;
			}
			h3 i.expanded {
				display: inline;
			}
			&.collapsed {
				h3 i.minimized {
					display: inline;
				}
				h3 i.expanded {
					display: none;
				}
			}
		}
		@media (max-width: 767.98px) {
			.image-block {
				border-right: none !important;
				padding-bottom: 1.5rem !important;
				// .no-syllabus {
				// 	padding-top: 1.5rem !important;
				// }
			}
		}
		@media (max-width: 567px) {
			.image-block {
				// padding-bottom: 1.5rem !important;
				.no-syllabus {
					// padding-top: 1.5rem;
				}
			}
		}
		.image-block {
			.no-syllabus {
				.vertical-spacer {
					height: 2.5rem;
					height: calc(40% - 20px);
				}
			}
		}
	}
}
.toggle-edit {
	a.active {
		display: none;
	}
}
.start-syllabus {
	&:focus,
	&:hover {
		background-color: #EDFFFC;
	}
}
.syllabus-resources {
	&.odd {
		// background-color: #fff;
	}
	&.even {
		// background-color: $light;
	}
}
.ui-datepicker a:hover,
.ui-datepicker a:focus {
    cursor: pointer;
}
#startAccordion {
	li.media > div > label {
		&:hover {
			color: #000;
			cursor: pointer;
			-webkit-transition: all 0.1s ease-in-out 0s;
			transition: all 0.1s ease-in-out 0s;
		}
		> i {
			position: relative;
			&:after {
				position:absolute;
				content:'';
				bottom: -35px;
				left: 0;
				width: 100%;
				border-bottom: 15px solid $info;
				height: 0;
				z-index: 2;
			}
		}	
	}
	li.media.collapsed > div > label {
		> i {
			&:after {
				border:none;
			}
		}	
		&:hover {
			> i {

				position: relative;

				&:after {
					position:absolute;
					content:'';
					bottom: -35px;
					left: 0;
					width: 100%;
					z-index: 2;
					border-bottom: 15px solid $info;
					-webkit-transition: all 0.2s ease-in-out 0s;
					transition: all 0.2s ease-in-out 0s;
				}
			}	
		}
	}
}

.editor-main-controls {
	.editor-controls-left {
		button {
			border-radius: 2em;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-width: 2px;
			color: $dark;
			// padding-top: 1px;
			// padding-bottom: 1px;
			&:hover,
			&:focus {
				color: #fff !important;
				&.disabled {
					color: initial;
				}
			}
			> span {
				font-size: 0.85rem;
			}
		}
	}
	.editor-controls-right {
	    
	}
}

.viewer-main-container {
	.sidebar-sticky {
		ul {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			border-right: 5px solid $light;
		}
	}
	.syllabus-viewer {
		box-shadow: 0 0 10px $grey_light_4;
	}
}

div.my-syllabi-nav {
	a {
		font-size: 15pt;
		font-weight: 700;
		&.active {
		  box-shadow: 0 6px 0 $info;
		}
		&.disabled {
			cursor: not-allowed;
		}
	}
}
.wrap {
	width: 100%;
	.left {
	    width: 70%;
	    border-bottom: 3px solid $secondary;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.right {
		width: 30%;
	}
}

div.overview-container {
	.overview-section {
		margin-bottom: 10rem;
		.my-syllabi-overview {
			.start-card {
			    box-shadow: 0 0 5px #e2e2e2;
			}
		}
	}
	h2 {
		font-size: 1.75rem;
	}
	a.see-more-toggle {
		font-size: 13pt;
		font-weight: 600;
	}
	a.collapsed:after  {
		content: '+ See More';
	}
	a.see-more-toggle:not(.collapsed):after {
		content: '- See Less';
	}
}
.campus-resources {
	.card {
		box-shadow: 0 0 5px $grey_light_4;
	}
	.card-body {
		padding: 0.75rem;
	}
	.media {
		> img {
			border: none;
			max-height: 10em;
		}
		.media-body {
			.card-title {
				font-size: 0.9rem;
			}
			p {
				font-size: 10pt;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}
}

.card-bordered {
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 5px $grey_light_4;
	&.card-bordered-top {
		border-top: 10px solid $primary;
	}
	&.card-bordered-right {
		border-right: 10px solid $primary;
	}
	&.card-bordered-bottom {
		border-bottom: 10px solid $primary;
	}
	&.card-bordered-left {
		border-left: 10px solid $primary;
	}
	&.card-bordered-primary {
		border-color: $primary;
	}
	&.card-bordered-secondary {
		border-color: $secondary;
	}
	&.card-bordered-info {
		border-color: $info;
	}
	&.card-bordered-success {
		border-color: $success;
	}
	&.card-bordered-warning {
		border-color: $warning;
	}
	&.card-bordered-danger {
		border-color: $danger;
	}
	&.card-bordered-light {
		border-color: $light;
	}
}
.editor-main-container {
	.syllabus-editor {
		.form-control-label {
			font-weight: bold;
		}
	}
	.section-title {
	    font-size: 1.2rem;
	}
	.dragdrop-handle {
		cursor: all-scroll;
	}
}
.anchor-links-sidebar {
	padding-left: 0;
	> .sidebar-sticky {
		position: relative;
		> ul {
			position: sticky;
			list-style: none;
			margin: 0;
			padding: 0;
			.nav-item {
				> a.nav-link {
					display: block;
					color: $dark;
					padding: 0.5rem 1rem;
					text-decoration: none;
					font-size: 13pt;
					&.active {
						color: $primary;
						font-weight: 700;
						border-left: .5em solid $info;
						-webkit-transition: border-left, color 0.3s;
						transition: border-left, color 0.3s;
					}
					&:hover,
					&:focus {
						color: $primary;
						-webkit-transition: color 0.15s;
						transition: color 0.15s;
					}
				}
			}
		}
		.collapse-all {
			color: $dark;
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: none;
				color: $primary;
			}
			&.collapsed {
				i.collapsed, .collapse-text {
					display: none;
				}
				i.expanded, .expand-text {
					display: inline;
				}
			}
			&.expanded {
				i.collapsed, .collapse-text {
					display: inline;
				}
				i.expanded, .expand-text {
					display: none;
				}
			}
		}
	}
}

#viewSyllabus {
	.syllabus-view-breadcrumbs {
		
		.breadcrumb {
			background-color: transparent;
		
		}
	}
	.anchor-links-sidebar-left {
		.nav-item > a.nav-link {
			&.active {
				border-left: none;
				border-right: 0.5em solid $info;
			}
		}
	}
	@media (max-width: 991px) {
		.anchor-links-sidebar-left {
			max-width: 5% !important;
			.sidebar-sticky {
				border: none;
			}
		}
		.syllabus-viewer {
			padding: 1.5rem !important;
		}
	}
	@media (max-width: 1199.98px) {
		.spacer {
			display: none;
		}
	}
}
.viewer-main-container {
	@media (min-width: 992px) {
		.mobile-anchor-links {
			display: none;
		}
		.anchor-links-sidebar-left {
			display: block;
		}
	}
	@media (max-width: 991px) {
		.mobile-anchor-links {
			display: block;
		}
		.anchor-links-sidebar-left {
			display: none;
		}
		& {
			position: relative;
		}
	}
	/* Style the navbar */
	#stickyNavbar {
		// overflow: hidden;
		background-color: $dark;
		width: 100%;
		ul {
			padding-bottom: 1rem;
			li {
				&:hover,
				&:focus {
					background-color: $dark-2;
				}
				a {
					font-size: 1.1em;
					color: #fff;
					padding-left: 1.5rem;
				}
			}
		}
		&.minimize {
			top: -72px;
			-webkit-transition: all 0.2s ease-in-out 0.2s;
			transition: all 0.2s ease-in-out 0.2s;
		}
	}

	/* The sticky class is added to the navbar with JS when it reaches its scroll position */
	.sticky {
		position: sticky;
		top: 0;
		z-index: 1;
	    -webkit-transition: all 0.2s ease-in-out 0.2s;
	    -moz-transition: all 0.2s ease-in-out 0.2s;
	    -o-transition: all 0.2s ease-in-out 0.2s;
	    transition: all 0.2s ease-in-out 0.2s;
	}
}
form#chooseStartingPoint {
	h1 {
		font-family: $brand-font-family;
		font-weight: 500;
		letter-spacing: 0.8px;
	}
	.collapsed {
		color: $muted;
	}
	@media (max-width: 767.98px) {
		h2 {
			font-size: 2.75rem;
		}
		li.media {
			margin-top: 2em;
			border: 2px solid $success;
			border-bottom: none;
			border-radius: 10px 10px 0 0;
			&.collapsed {
				border: 2px solid $info;
				border-radius: 10px;
				box-shadow: 0 0 5px #e2e2e2;
				&:hover,
				&:focus {
					background-color: $light;
					box-shadow: 0 0 10px #e2e2e2;
				}				
			}
		}
		div.collapse.show {
			border: 2px solid $success;
			border-top: none;
			border-radius: 0 0 10px 10px;
			padding-bottom: 1em;
		}

	}
	@media (max-width: 575.98px) {
		i.start-icon {
			display: none;
		}
		h2 {
			font-size: 2.25rem;
			font-weight: 350;
			line-height: 0.9;
		}
		ul.form-inline {
			li {
				.form-check {
					display: flex;
					align-items: center;
					justify-content: left;
					width: auto;
					padding-left: 0;
					> label {
						margin-left: .5em;
						> div.media-body > p {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.migrate-text-container {
		width: 75% !important;
	}
}
@media (max-width: 768px) {
	.migrate-text-container {
		width: 100% !important;
	}
}