@import "_edit";
@import "_view";
html {
  scroll-behavior: smooth;
}
.editor-main-container {
	// height: 100%;
	.syllabus-editor {
		.form-control-label {
			font-weight: bold;
		}
	}
	.section-title {
	    font-size: 1.2rem;
	}
	.dragdrop-handle {
		cursor: all-scroll;
	}

}
.anchor-links-sidebar {
	padding-left: 0;
	white-space: nowrap;
	> .sidebar-sticky {
		position: relative;
		// width: 100%;
		> ul {
			position: sticky;
			// width: inherit;
			list-style: none;
			margin: 0;
			padding: 0;
			.nav-item {
				> a.nav-link {
					display: block;
					// color: $info;
					color: $dark;
					padding: 0.5rem 1rem;
					text-decoration: none;
					font-size: 13pt;
					&.active {
						// color: #fff;
						// color: $cyan_light_5;
						// color: $light;
						// color: $secondary-alt-1;
						color: $primary;
						font-weight: 700;
						border-left: .5em solid $info;
						-webkit-transition: border-left, color 0.3s;
						transition: border-left, color 0.3s;
					}
					&:hover,
					&:focus {
						// color: $info-alt-1;
						color: $dark-alt-1;
						-webkit-transition: color 0.15s;
						transition: color 0.15s;
					}
				}
			}
		}

	}
}
form#chooseStartingPoint {
	@media (max-width: 767.98px) {
		h2 {
			font-size: 2.75rem;
		}		
	}
	@media (max-width: 575.98px) {
		i.start-icon {
			display: none;
		}
		h2 {
			font-size: 2.25rem;
			font-weight: 350;
			line-height: 0.9;
		}
		ul.form-inline {
			li {
				.form-check {
					display: flex;
					align-items: center;
					justify-content: left;
					width: auto;
					padding-left: 0;
					> label {
						margin-left: .5em;
						> div.media-body > p {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}