
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");


@media print {
	.container {
		width: auto;
	}
	img, .print-button {
		display: none;
	}
	.section-container {
		page-break-inside: avoid;
	}
	.no-print {
		display: none;
	}
}
html>/**/body .selector, x:-moz-any-link {
	#viewTemplate {
		display: block;
	}
}
html>/**/body .selector, x:-moz-any-link, x:default {
	#viewTemplate {
		display: block;
	}
}
@-moz-document url-prefix() { 
	#viewTemplate {
		display: block;
	}
}
@page {
	margin-top: 10%;
	margin-bottom: 10%;
}