
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
/*@import "assets/css/bootstrap.min.css";*/

@media print {
	.container {
		width: auto;
	}
	img, .print-button {
		display: none;
	}
	.section-container {
		page-break-inside: avoid;
	}
	.no-print {
		display: none;
	}
}
@page {
	margin-top: 10%;
	margin-bottom: 10%;
}