/*

#require css/reset.css

body, input, select, textarea { line-height: 1.5; }
h1 { font-size: 36px; font-size: 2.25rem; line-height: 1.25; }
h2 { font-size: 28px; font-size: 1.75rem; line-height: 1.25; }
h3 { font-size: 24px; font-size: 1.5rem; }
h4 { font-size: 20px; font-size: 1.25rem; }
h1,h2,h3,h4 { margin-bottom: 16px; margin-bottom: 1rem; }
pre,blockquote,p,ul,ol,.section,table.data { margin-bottom: 24px; margin-bottom: 1.5rem; }

.column-container.fluid {
    overflow: hidden;
    padding-right: 21em;
}
.column-container.fluid > .content, .column-container.fluid > .sidebar {
    float: left;
    position: relative;
}
.column-container.fluid > .content { width: 100%; }
.column-container.fluid > .sidebar { width: 20em; margin-right: -21em; padding-left: 1em; }
.column-container.fluid.alt > .content { margin-right: -21em; }
.column-container.fluid.alt > .sidebar { margin-right: 0; padding-left: 0; padding-right: 1em; }

#header, #content, #footer { clear: both; }
#header > .inner, #content > .inner, #footer > .inner { padding: 1em; }

// Fix footer to bottom of screen
#wrapper { margin: 0 0 -4em; height: auto !important; height: 100%; min-height: 100%; }
#footer, #push-footer { height: 4em; }

#header, #footer { background: #f9f9f9; }
#content { background: #fff; position: relative; }
#footer > .inner { border-top: 1px solid #d9d9d9; }

#header {
    position: relative;
    background: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
}
#site-logo { font-size: 2em; }
#site-logo a { color: #000; text-decoration: none; }
#site-logo a:visited, #site-logo a:active { color: #000; }
#user-links {
    position: absolute;
    top: 0;
    right: 0;
    background: #404040;
    color: #f0f0f0;
    -moz-border-radius: 0 0 0 7px;
    -webkit-border-radius: 0 0 0 7px;
    border-radius: 0 0 0 7px;
    padding: 0 0.5em;
    font-size: 0.875em;
}
#user-links li {
    display: -moz-inline-box;
    display: inline-block;
}
#user-links li.text, #user-links a, #user-logout-action { padding: 0.25em 0.33em; }
#user-links a, #user-links a:visited, #user-links a:active { color: #fff; }
#user-links a { display: block; }
#user-logout-action {
    border: 0;
    
    background: #404040;
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
}
#user-links a:hover, #user-logout-action:hover { background: #535353; }

.pagination-container { padding: 0.25em 0; text-align: center; }
.pagination { display: -moz-inline-box; display: inline-block; margin: 0; }
.pagination li { display: -moz-inline-box; display: inline-block; width: 2em; padding: 0 0.25em; border: 1px solid #fff; }
.pagination li a { display: inline-block; text-align: center; width: 2em; padding: 3px 0; text-decoration: none; color: #00f; }
.pagination li a:hover { border-bottom: 3px solid #00f; padding: 0; }
.pagination li span { color: #aaa; padding: 3px 0; }
.pagination li.current { background: #f9f9f9; border: 1px solid #cdcdcd; border-radius: 5px; }
.pagination li.current span { color: #333; }

#breadcrumbs { margin-bottom: 0; }
#breadcrumbs li { display: inline; }
#breadcrumbs li:not(:last-child):after { padding-left: 0.33em; color: #999; content: ">"; }
.minor { color: #777; font-size: 0.75em; }
a.minor, .minor a { color: #666; }

ul.bullet { list-style-type: disc; padding-left: 1.5em; }
ul.columnar { overflow: auto; }
ul.columnar li { float: left; width: 33%; }

.section { border-bottom: 1px solid #aaa; }
.section.last { border-bottom: 0; }
fieldset.section { margin-top: 1.5em; }
fieldset.section legend { font-size: 1.125em; }
fieldset.section p { font-size: 0.875em; margin-bottom: 0.5em; }
fieldset.section .field { margin-left: 1.5em; }

table.data { width: 100%; }
table.data th {
    padding: 0.25em 0.5em;
    font-size: 1.0625em;
    vertical-align: top;
    
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d9d9d9));
    background-image: -moz-linear-gradient(-90deg, #f0f0f0, #d9d9d9);
    text-shadow: 0 1px 0 #d0d0d0;
}
table.data thead th {
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
table.data thead th:last-child { border-right: 0; }
table.data tbody td {
    padding: 0.25em 0.5em;
    vertical-align: top;
}
table.data ul, table.data ol, table.data p, table.data table.data { margin-bottom: 0; }
tr.odd { background: #f4f4f4; }
table.data tbody tr:hover { background: #ffd; }

a.command-button {
    display: -moz-inline-box;
    display: inline-block;
    cursor: default;
}
.command-button {
    padding: 0.15em 1.5em;
    text-align: center;
    text-decoration: none;
    
    border: 1px solid #bbb;
    color: #3C3C3C;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0.15));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), color-stop(0.15, rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15)));
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.command-button:hover { background-color: #e9e9e9; }
.command-button:active { border: 1px solid #999; background-color: #e0e0e0; }
.command-button.disabled, .command-button.disabled:hover, .command-button.disabled:active {
    border: 1px solid #BBB;
    background: #C7C7C7;
    color: #797979;
    text-shadow: none;
}

.command-button.alt {
    background-color: #404040;
    color: #fff;
    text-shadow: 1px 1px 0 #222;
    border-color: #222;
}
.command-button.alt.disabled, .command-button.alt.disabled:hover, .command-button.alt.disabled:active {
    border: 1px solid #222;
    background: #444;
    color: #909090;
    text-shadow: 1px 1px 0 #222;
}
.command-button.alt:hover { background-color: #494949; }
.command-button.alt:active { border-color: #595959; background-color: #505050; }

.command-button.dangerous {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    background-color: #B03333;
    border-color: #C04040;
}
.command-button.dangerous:hover { background-color: #A03333; }
.command-button.dangerous:active { border-color: #B03333; background-color: #933; }

.command-button.disabled:hover { background: #C7C7C7; }
.command-button.disabled:active { border: 1px solid #BBB; background-color: #C7C7C7; }

.glossy {
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2));
    background-image: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(255, 255, 255, 0.25)),
        color-stop(0.5, rgba(0, 0, 0, 0)),
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        to(rgba(0, 0, 0, 0.2))
    );
}

ul.actions li { display: inline-block; }

.simple-button, .simple-button:visited {
    display: inline-block;

    cursor: default;
    text-decoration: none;
    font-size: 0.8125em;
    border: 1px solid #59c;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    background: #57a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#47a), to(#5577b9));
    background-image: -moz-linear-gradient(-90deg, #47a, #5577b9);
    background-image: linear-gradient(-90deg, #47a, #5577b9);
    color: #fff;
    text-shadow: 1px 0 #557;
    padding: 0.1em 0.5em;
    margin: 0;
}
.simple-button:hover {
    border: 1px solid #47a;
    background: #58b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58b), to(#6688c9));
    background-image: -moz-linear-gradient(-90deg, #58b, #6688c9);
    background-image: linear-gradient(-90deg, #58b, #6688c9);
}
.simple-button:active {
    border: 1px solid #49c;
    background: #50699c;
}

form .field { margin-bottom: 0.5em; }
form .field label.field-label { display: block; }
form .field.controls { margin-bottom: 1.5em; }
form .subfield-container { }
form .subfield label { display: block; font-size: 0.75em; }
label[for] { cursor: pointer; }
form .subfield { display: -moz-inline-box; display: inline-block; }

input.text-field { width: 8em; }
input.vshort { width: 2em; }
input.short { width: 4em; }
input.long { width: 12em; }
input.vlong { width: 16em; }
input[readonly], textarea[readonly] {
    color: #606060;
    border-color: #fff;
    resize: none;
}
input[readonly]:hover, textarea[readonly]:hover {
    border-color: #d0d0d0;
}

form .controls { margin: 1.5em 0; }

.manage-add-button {
    position: absolute;
    right: 1em;
    top: 2.5em;
}
.manage-add-button a { display: block; font-size: 1.125em; }
.manage-add-button a:before { content: "+ "; }

#account-content-filters {
    font-size: 0.875em;
    
    background: #fdfdfd;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
#account-content-filters h2 {
    margin-bottom: 0;
    padding: 0.25em 1em;
    font-size: 1.2143em;
    line-height: 1.5;
    
    background: #e0e0e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d9d9d9));
    background-image: -moz-linear-gradient(-90deg, #f0f0f0, #d9d9d9);
    border-bottom: 1px solid #c0c0c0;
    text-shadow: 0 1px 0 #d0d0d0;
}
#account-content-filters form { padding: 1em; }
#account-content-filters .field.controls { margin-bottom: 0; text-align: right; }

.enable-editing-place { vertical-align: top; font-size: 0.925em; }

dl.metadata dt { color: #314094; }
dl.metadata dd { margin: 0 0 0.5em 1em; }

*/